name: Code Coverage

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on: [push, pull_request]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  CC:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
          node-version: '12.x'
    - run: sudo apt-get install pandoc      
    - run: npm install -g typescript@3.6
    - run: npm install -g ts-node
    - run: npm install -g mocha
    - run: npm install -g chai
    - run: npm install -g nyc
    - run: npm install
    - run: pandoc -s -t man man/etherless.md -o man/etherless.1
    - run: npm pack
    - run: nyc --reporter=lcov --reporter=text-summary npm test
    
    - name: Upload CodeCoverage output as a build artifact
      uses: actions/upload-artifact@v1
      with:
        name: CodeCoverage
        path: coverage
      
    - name: Upload package
      uses: actions/upload-artifact@v1
      with:
        name: build
        path: etherless-0.15.20.tgz